In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("women_clothing_ecommerce_sales.csv")

In [40]:
df.head()

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022/6/1 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022/6/1 16:05:00,89,Dark Blue,2XL,258,1,258
2,2,2022/6/10 17:03:00,bobo,Cream,One Size,228,1,228
3,3,2022/6/10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022/6/11 11:42:00,799,Dark Blue,M,264,1,264

In [41]:
df.drop("order_id", axis = 1, inplace = True)

In [42]:
df.head()

,order_date,sku,color,size,unit_price,quantity,revenue
0,2022/6/1 16:05:00,708,Dark Blue,2XL,298,1,298
1,2022/6/1 16:05:00,89,Dark Blue,2XL,258,1,258
2,2022/6/10 17:03:00,bobo,Cream,One Size,228,1,228
3,2022/6/10 19:59:00,799,Dark Blue,XL,264,1,264
4,2022/6/11 11:42:00,799,Dark Blue,M,264,1,264

In [43]:
df.isnull().sum()

order_date     0
sku            0
color          0
size          37
unit_price     0
quantity       0
revenue        0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_date  527 non-null    object
 1   sku         527 non-null    object
 2   color       527 non-null    object
 3   size        490 non-null    object
 4   unit_price  527 non-null    int64
 5   quantity    527 non-null    int64
 6   revenue     527 non-null    int64
dtypes: int64(3), object(4)
memory usage: 28.9+ KB

In [45]:
df["size"].mode()

0    XL
Name: size, dtype: object

In [46]:
df["size"] = df["size"].replace(np.NaN, "XL")

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_date  527 non-null    object
 1   sku         527 non-null    object
 2   color       527 non-null    object
 3   size        527 non-null    object
 4   unit_price  527 non-null    int64
 5   quantity    527 non-null    int64
 6   revenue     527 non-null    int64
dtypes: int64(3), object(4)
memory usage: 28.9+ KB

In [48]:
import datetime as dt

In [49]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [50]:
df.head()

,order_date,sku,color,size,unit_price,quantity,revenue
0,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298
1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258
2,2022-06-10 17:03:00,bobo,Cream,One Size,228,1,228
3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264
4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264

In [51]:
df["revenue"].sum()

146519

In [52]:
df["quantity"].sum()

533

In [53]:
gb_1 = pd.DataFrame()

In [54]:
#What are the best selling SKU items? by color?
gb_1 = df.groupby(["sku", "color"]).agg({"quantity": "sum"}).sort_values(by= "quantity",ascending= False)[: 5]

In [55]:
gb_1.to_csv('Group_by_1.csv')

In [56]:
gb_2 = pd.DataFrame()

In [57]:
#What are the best selling SKU items?by size?
gb_2 = df.groupby(["sku", "size"]).agg({"quantity": "sum"}).sort_values(by= "quantity",ascending= False)[:5]

In [58]:
gb_2

          quantity
sku size
799 XL         123
    L           84
    M           80
708 2XL         37
    3XL         33

In [59]:
gb_2.to_csv("Group_by_2.csv")

In [60]:
df["Day"]= df["order_date"].dt.weekday

In [61]:
df.head()

,order_date,sku,color,size,unit_price,quantity,revenue,Day
0,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298,2
1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258,2
2,2022-06-10 17:03:00,bobo,Cream,One Size,228,1,228,4
3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264,4
4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264,5

In [62]:
day_list = {0:'monday',
           1:'tuesday',
           2:'wednesday',
           3:'thursday',
           4:'friday',
           5:'saturday',
           6:'sunday'}

def change_weekday(var):
    return day_list[var]

In [63]:
df["weekday"] = df["Day"].apply(change_weekday)

In [64]:
df.head()

,order_date,sku,color,size,unit_price,quantity,revenue,Day,weekday
0,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298,2,wednesday
1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258,2,wednesday
2,2022-06-10 17:03:00,bobo,Cream,One Size,228,1,228,4,friday
3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264,4,friday
4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264,5,saturday

In [69]:
gb_3 = pd.DataFrame()

In [70]:
#What are the peak days or time periods with the highest sales?
gb_3 = df.groupby("weekday").agg({"revenue": "sum"})

In [71]:
gb_3.to_csv("Group_by_3.csv")

In [72]:
#Avarage Sales Price
df["revenue"].mode()

0    288
Name: revenue, dtype: int64

In [42]:
df.to_csv("ecommerce_women_clothingstore_final.csv", index = False)